RicezioneDati.json
[{"id":"9e8a0b15.1a5d68","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"78de62e6.163d6c","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura esterna","topic":"temperatura_esterna_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":140,"wires":[["81ef9d5b.e39ef"]]},{"id":"a3b082a.8e37d8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità esterna","topic":"umidita_esterna_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":100,"y":180,"wires":[["d443ca4c.aff578"]]},{"id":"e16e9311.e1b17","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione esterna","topic":"pressione_esterna_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":220,"wires":[["277b80c3.8ff1b"]]},{"id":"81ef9d5b.e39ef","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Temperatura esterna","group":"fe03e306.d8c18","order":0,"width":0,"height":0,"label":"Temperatura esterna","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":140,"wires":[[]]},{"id":"d443ca4c.aff578","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Umidità esterna","group":"fe03e306.d8c18","order":0,"width":0,"height":0,"label":"Umidità esterna","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":360,"y":180,"wires":[[]]},{"id":"277b80c3.8ff1b","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione Esterna","group":"fe03e306.d8c18","order":0,"width":0,"height":0,"label":"Pressione Esterna","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":220,"wires":[[]]},{"id":"b4af00b9.a74b6","type":"ui_text","z":"9e8a0b15.1a5d68","group":"92e20c97.c2fef","order":0,"width":0,"height":0,"name":"Ora","label":"","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":40,"wires":[]},{"id":"a1951599.7902c8","type":"function","z":"9e8a0b15.1a5d68","name":"Ora","func":"var data = new Date();\nvar Hh, Mm;\nHh = data.getHours();\nMm = data.getMinutes();\n\nmsg.payload = String(\"Sono le ore: \" + Hh + \":\" + Mm);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":40,"wires":[["b4af00b9.a74b6"]]},{"id":"ca681d60.fe6ff","type":"inject","z":"9e8a0b15.1a5d68","name":"Tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":40,"wires":[["a1951599.7902c8"]]},{"id":"601cfec8.cdbae","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 1","topic":"temperatura_interna1_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":320,"wires":[["6c0ed226.2a121c"]]},{"id":"6c0ed226.2a121c","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Temperatura interna 1","group":"74fa0030.c2b9d","order":0,"width":0,"height":0,"label":"Temperatura interna 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":320,"wires":[[]]},{"id":"f5452acd.b496e8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 2","topic":"temperatura_interna2_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":360,"wires":[["238ccfe2.4bace"]]},{"id":"238ccfe2.4bace","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Temperatura interna 2","group":"74fa0030.c2b9d","order":0,"width":0,"height":0,"label":"Temperatura interna 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":360,"wires":[[]]},{"id":"7e3f3552.6f36ec","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 3","topic":"temperatura_interna3_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":400,"wires":[["ba6c8ad.1e92e78"]]},{"id":"ba6c8ad.1e92e78","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Temperatura interna 3","group":"74fa0030.c2b9d","order":0,"width":0,"height":0,"label":"Temperatura interna 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":400,"wires":[[]]},{"id":"faf0751e.d873d8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 4","topic":"temperatura_interna4_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":440,"wires":[["ac3bacbb.2e978"]]},{"id":"ac3bacbb.2e978","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Temperatura interna 4","group":"74fa0030.c2b9d","order":0,"width":0,"height":0,"label":"Temperatura interna 4","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":440,"wires":[[]]},{"id":"6fade673.5c7b48","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 5","topic":"temperatura_interna5_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":480,"wires":[["b728ace9.c5e73"]]},{"id":"b728ace9.c5e73","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Temperatura interna 5","group":"74fa0030.c2b9d","order":0,"width":0,"height":0,"label":"Temperatura interna 5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":480,"wires":[[]]},{"id":"45bb9d3b.37bbf4","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 6","topic":"temperatura_interna6_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":520,"wires":[["20aa5e2.31d02a2"]]},{"id":"20aa5e2.31d02a2","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Temperatura interna 6","group":"74fa0030.c2b9d","order":0,"width":0,"height":0,"label":"Temperatura interna 6","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":520,"wires":[[]]},{"id":"a20459cb.c88138","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 7","topic":"temperatura_interna7_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":560,"wires":[["5edf49fe.44eca8"]]},{"id":"5edf49fe.44eca8","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Temperatura interna 7","group":"74fa0030.c2b9d","order":0,"width":0,"height":0,"label":"Temperatura interna 7","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":560,"wires":[[]]},{"id":"4451b371.d168bc","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 8","topic":"temperatura_interna8_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":600,"wires":[["f9358fc7.7dbaa"]]},{"id":"f9358fc7.7dbaa","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Temperatura interna 8","group":"74fa0030.c2b9d","order":0,"width":0,"height":0,"label":"Temperatura interna 8","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":600,"wires":[[]]},{"id":"8fc3b865.bff0f8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 9","topic":"temperatura_interna9_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":640,"wires":[["e0bf8f3b.df544"]]},{"id":"e0bf8f3b.df544","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Temperatura interna 9","group":"74fa0030.c2b9d","order":0,"width":0,"height":0,"label":"Temperatura interna 9","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":640,"wires":[[]]},{"id":"19ab77c1.e99dc8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 10","topic":"temperatura_interna10_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":680,"wires":[["c6109a7e.422b78"]]},{"id":"c6109a7e.422b78","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Temperatura interna 10","group":"74fa0030.c2b9d","order":0,"width":0,"height":0,"label":"Temperatura interna 10","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":680,"wires":[[]]},{"id":"77e37991.252e68","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura esterna warn","topic":"temperatura_esterna_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":670,"y":140,"wires":[["cf03e45.d4e5e18"]]},{"id":"cfc16763.b07d88","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità esterna warn","topic":"umidita_esterna_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":180,"wires":[["c8400d32.411ad"]]},{"id":"e8d692ea.11e55","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione esterna warn","topic":"pressione_esterna_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":220,"wires":[["a62a3530.f94478"]]},{"id":"cf03e45.d4e5e18","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":140,"wires":[]},{"id":"c8400d32.411ad","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":1,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":180,"wires":[]},{"id":"a62a3530.f94478","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":2,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":220,"wires":[]},{"id":"4c837a01.618884","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":320,"wires":[]},{"id":"f3d1b76d.f22b78","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":360,"wires":[]},{"id":"e794a2b1.a4cbf","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":400,"wires":[]},{"id":"54a53482.6bb14c","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":440,"wires":[]},{"id":"1264dd43.97c113","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":480,"wires":[]},{"id":"ff574173.2dc06","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":520,"wires":[]},{"id":"d0ae3e7b.6afb9","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":560,"wires":[]},{"id":"2577c015.f7d9e","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":600,"wires":[]},{"id":"daf9625e.66d44","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":640,"wires":[]},{"id":"56999152.d8004","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":680,"wires":[]},{"id":"6869909e.e82b7","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 1 warn","topic":"temperatura_interna1_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":320,"wires":[["4c837a01.618884"]]},{"id":"5161847e.e638bc","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 2 warn","topic":"temperatura_interna2_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":360,"wires":[["f3d1b76d.f22b78"]]},{"id":"909ee353.9d376","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 3 warn","topic":"temperatura_interna3_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":400,"wires":[["e794a2b1.a4cbf"]]},{"id":"dbacc034.cbe2c","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 4 warn","topic":"temperatura_interna4_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":440,"wires":[["54a53482.6bb14c"]]},{"id":"508f4038.29feb","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 5 warn","topic":"temperatura_interna5_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":480,"wires":[["1264dd43.97c113"]]},{"id":"1658cd3b.dfb8a3","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 6 warn","topic":"temperatura_interna6_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":520,"wires":[["ff574173.2dc06"]]},{"id":"fcd4a174.09498","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 7 warn","topic":"temperatura_interna7_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":560,"wires":[["d0ae3e7b.6afb9"]]},{"id":"4a8fc740.bd2d18","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 8 warn","topic":"temperatura_interna8_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":600,"wires":[["2577c015.f7d9e"]]},{"id":"905d164c.7bf968","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 9 warn","topic":"temperatura_interna9_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":640,"wires":[["daf9625e.66d44"]]},{"id":"2e9dbbe9.6f7194","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Temperatura interna 10 warn","topic":"temperatura_interna10_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":680,"wires":[["56999152.d8004"]]},{"id":"eab51f0f.c6234","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidita interna 1","topic":"umidita_interna1_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":100,"y":780,"wires":[["401bf4e.f32c50c"]]},{"id":"401bf4e.f32c50c","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Umidità interna 1","group":"ee3ff6ee.b8a538","order":0,"width":0,"height":0,"label":"Umidità interna 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":780,"wires":[[]]},{"id":"2e979d81.17fd92","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":780,"wires":[]},{"id":"5e0e3ae9.d20c84","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità interna 1 warn","topic":"umidita_interna1_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":780,"wires":[["2e979d81.17fd92"]]},{"id":"6b4ecf3.c2e003","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidita interna 2","topic":"umidita_interna2_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":100,"y":820,"wires":[["b7d83258.a903a"]]},{"id":"b7d83258.a903a","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Umidità interna 2","group":"ee3ff6ee.b8a538","order":0,"width":0,"height":0,"label":"Umidità interna 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":820,"wires":[[]]},{"id":"6669abae.a3f184","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":820,"wires":[]},{"id":"29a249f0.fdcf36","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità interna 2 warn","topic":"umidita_interna2_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":820,"wires":[["6669abae.a3f184"]]},{"id":"90eab5be.b1f558","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidita interna 3","topic":"umidita_interna3_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":100,"y":860,"wires":[["20250d33.bb36e2"]]},{"id":"20250d33.bb36e2","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Umidità interna 3","group":"ee3ff6ee.b8a538","order":0,"width":0,"height":0,"label":"Umidità interna 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":860,"wires":[[]]},{"id":"87dbe46e.a02d28","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":860,"wires":[]},{"id":"53e34fe8.e8078","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità interna 3 warn","topic":"umidita_interna3_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":860,"wires":[["87dbe46e.a02d28"]]},{"id":"cf15ba36.8be1b8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidita interna 4","topic":"umidita_interna4_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":100,"y":900,"wires":[["4281e7bd.ac3668"]]},{"id":"4281e7bd.ac3668","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Umidità interna 4","group":"ee3ff6ee.b8a538","order":0,"width":0,"height":0,"label":"Umidità interna 4","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":900,"wires":[[]]},{"id":"9406d433.9197e8","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":900,"wires":[]},{"id":"694f2b80.2797f4","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità interna 4 warn","topic":"umidita_interna4_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":900,"wires":[["9406d433.9197e8"]]},{"id":"8d8fe4e1.ff3a38","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidita interna 5","topic":"umidita_interna5_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":100,"y":940,"wires":[["a2c1e08c.5ff8c"]]},{"id":"a2c1e08c.5ff8c","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Umidità interna 5","group":"ee3ff6ee.b8a538","order":0,"width":0,"height":0,"label":"Umidità interna 5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":940,"wires":[[]]},{"id":"b12e6f3d.0fcb4","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":940,"wires":[]},{"id":"7b3130d2.423c4","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità interna 5 warn","topic":"umidita_interna5_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":940,"wires":[["b12e6f3d.0fcb4"]]},{"id":"e86298a.23a0b68","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidita interna 6","topic":"umidita_interna6_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":100,"y":980,"wires":[["dd6f2351.d2928"]]},{"id":"dd6f2351.d2928","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Umidità interna 6","group":"ee3ff6ee.b8a538","order":0,"width":0,"height":0,"label":"Umidità interna 6","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":980,"wires":[[]]},{"id":"d442d20f.831f5","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":980,"wires":[]},{"id":"9463213b.09466","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità interna 6 warn","topic":"umidita_interna6_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":980,"wires":[["d442d20f.831f5"]]},{"id":"3d3252fa.e9d19e","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidita interna 7","topic":"umidita_interna7_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":100,"y":1020,"wires":[["473621dd.86d75"]]},{"id":"473621dd.86d75","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Umidità interna 7","group":"ee3ff6ee.b8a538","order":0,"width":0,"height":0,"label":"Umidità interna 7","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1020,"wires":[[]]},{"id":"7de14010.4c3b3","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1020,"wires":[]},{"id":"d139b5d8.0c5928","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità interna 7 warn","topic":"umidita_interna7_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":1020,"wires":[["7de14010.4c3b3"]]},{"id":"95ce3272.9755b","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidita interna 8","topic":"umidita_interna8_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":100,"y":1060,"wires":[["b558c5e3.a96768"]]},{"id":"b558c5e3.a96768","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Umidità interna 8","group":"ee3ff6ee.b8a538","order":0,"width":0,"height":0,"label":"Umidità interna 8","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1060,"wires":[[]]},{"id":"9ad83375.02d0d","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1060,"wires":[]},{"id":"cd120fc5.58cb5","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità interna 8 warn","topic":"umidita_interna8_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":1060,"wires":[["9ad83375.02d0d"]]},{"id":"fd7eb555.6bc5a8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidita interna 9","topic":"umidita_interna9_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":100,"y":1100,"wires":[["428b1ee6.8cedd"]]},{"id":"428b1ee6.8cedd","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Umidità interna 9","group":"ee3ff6ee.b8a538","order":0,"width":0,"height":0,"label":"Umidità interna 9","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1100,"wires":[[]]},{"id":"4051f78.ddd1308","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1100,"wires":[]},{"id":"f4f62364.fb0d4","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità interna 9 warn","topic":"umidita_interna9_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":1100,"wires":[["4051f78.ddd1308"]]},{"id":"525d7f46.0a18a","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidita interna 10","topic":"umidita_interna10_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":1140,"wires":[["a43d8205.88dd4"]]},{"id":"a43d8205.88dd4","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Umidità interna 10","group":"ee3ff6ee.b8a538","order":0,"width":0,"height":0,"label":"Umidità interna 10","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1140,"wires":[[]]},{"id":"e6a91621.ac77d8","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1140,"wires":[]},{"id":"ec6f9f5e.09e47","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Umidità interna 10 warn","topic":"umidita_interna10_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":660,"y":1140,"wires":[["e6a91621.ac77d8"]]},{"id":"1f268dbe.0b3862","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 1","topic":"pressione_interna1_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":1240,"wires":[["d087f0ce.54acd"]]},{"id":"d087f0ce.54acd","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione interna 1","group":"ed96c8ce.f14668","order":0,"width":0,"height":0,"label":"Pressione interna 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1240,"wires":[[]]},{"id":"a6a8e0f4.20d3c","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1240,"wires":[]},{"id":"a2b90cf7.9de6b","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 1 warn","topic":"pressione_interna1_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":670,"y":1240,"wires":[["a6a8e0f4.20d3c"]]},{"id":"d422720f.5a6c1","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 2","topic":"pressione_interna2_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":1280,"wires":[["a3427994.1a0b78"]]},{"id":"a3427994.1a0b78","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione interna 2","group":"ed96c8ce.f14668","order":0,"width":0,"height":0,"label":"Pressione interna 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1280,"wires":[[]]},{"id":"bb991f9a.36c61","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1280,"wires":[]},{"id":"555b929b.ac960c","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 2 warn","topic":"pressione_interna2_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":670,"y":1280,"wires":[["bb991f9a.36c61"]]},{"id":"80ca82dc.9026d","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 3","topic":"pressione_interna3_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":1320,"wires":[["602b416c.144c4"]]},{"id":"602b416c.144c4","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione interna 3","group":"ed96c8ce.f14668","order":0,"width":0,"height":0,"label":"Pressione interna 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1320,"wires":[[]]},{"id":"586b2f71.bcce2","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1320,"wires":[]},{"id":"e4063bb8.a88ce8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 3 warn","topic":"pressione_interna3_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":670,"y":1320,"wires":[["586b2f71.bcce2"]]},{"id":"3e65a904.d361d6","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 4","topic":"pressione_interna4_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":1360,"wires":[["ff51804a.65ae1"]]},{"id":"ff51804a.65ae1","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione interna 4","group":"ed96c8ce.f14668","order":0,"width":0,"height":0,"label":"Pressione interna 4","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1360,"wires":[[]]},{"id":"45bc9f09.cbf12","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1360,"wires":[]},{"id":"5a48b1c1.f19f1","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 4 warn","topic":"pressione_interna4_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":670,"y":1360,"wires":[["45bc9f09.cbf12"]]},{"id":"89201b2e.1f53f8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 5","topic":"pressione_interna5_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":1400,"wires":[["73d25742.015618"]]},{"id":"73d25742.015618","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione interna 5","group":"ed96c8ce.f14668","order":0,"width":0,"height":0,"label":"Pressione interna 5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1400,"wires":[[]]},{"id":"353397a0.4e1988","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1400,"wires":[]},{"id":"d150cb2f.910048","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 5 warn","topic":"pressione_interna5_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":670,"y":1400,"wires":[["353397a0.4e1988"]]},{"id":"a5071483.236d48","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 6","topic":"pressione_interna6_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":1440,"wires":[["5530be43.79871"]]},{"id":"5530be43.79871","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione interna 6","group":"ed96c8ce.f14668","order":0,"width":0,"height":0,"label":"Pressione interna 6","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1440,"wires":[[]]},{"id":"4a255774.dae618","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1440,"wires":[]},{"id":"c68039b3.653df8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 6 warn","topic":"pressione_interna6_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":670,"y":1440,"wires":[["4a255774.dae618"]]},{"id":"91499c3c.481f9","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 7","topic":"pressione_interna7_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":1480,"wires":[["7d998455.227aac"]]},{"id":"7d998455.227aac","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione interna 7","group":"ed96c8ce.f14668","order":0,"width":0,"height":0,"label":"Pressione interna 7","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1480,"wires":[[]]},{"id":"e11e661b.baf198","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1480,"wires":[]},{"id":"7d61afc4.4ea63","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 7 warn","topic":"pressione_interna7_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":670,"y":1480,"wires":[["e11e661b.baf198"]]},{"id":"7f3c47c7.084428","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 8","topic":"pressione_interna8_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":1520,"wires":[["8e9aef19.ff716"]]},{"id":"8e9aef19.ff716","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione interna 8","group":"ed96c8ce.f14668","order":0,"width":0,"height":0,"label":"Pressione interna 8","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1520,"wires":[[]]},{"id":"e6e0802e.a5bf8","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1520,"wires":[]},{"id":"97e151ff.9e344","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 8 warn","topic":"pressione_interna8_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":670,"y":1520,"wires":[["e6e0802e.a5bf8"]]},{"id":"249784ac.08442c","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 9","topic":"pressione_interna9_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":1560,"wires":[["cc4ea2fe.a40d9"]]},{"id":"cc4ea2fe.a40d9","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione interna 9","group":"ed96c8ce.f14668","order":0,"width":0,"height":0,"label":"Pressione interna 9","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1560,"wires":[[]]},{"id":"7d41c72b.b3e878","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1560,"wires":[]},{"id":"4860edf3.974084","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 9 warn","topic":"pressione_interna9_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":670,"y":1560,"wires":[["7d41c72b.b3e878"]]},{"id":"652bbea0.aff23","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 10","topic":"pressione_interna10_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":110,"y":1600,"wires":[["d61a17f6.cc8a18"]]},{"id":"d61a17f6.cc8a18","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione interna 10","group":"ed96c8ce.f14668","order":0,"width":0,"height":0,"label":"Pressione interna 10","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":1600,"wires":[[]]},{"id":"b96a9014.fd574","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1600,"wires":[]},{"id":"ad100d85.146bd","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione interna 10 warn","topic":"pressione_interna10_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":670,"y":1600,"wires":[["b96a9014.fd574"]]},{"id":"28298fde.fb208","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Velocità miscelatore 1","topic":"velocita_miscelatore1_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":1700,"wires":[["fb68ed1a.81023"]]},{"id":"fb68ed1a.81023","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Velocità miscelatore 1","group":"e389d83.62aba28","order":0,"width":0,"height":0,"label":"Velocità miscelatore 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":1700,"wires":[[]]},{"id":"3f03a629.1c0f2a","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Velocità miscelatore 2","topic":"velocita_miscelatore2_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":1740,"wires":[["3423edf7.6d3112"]]},{"id":"3423edf7.6d3112","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Velocità miscelatore 2","group":"e389d83.62aba28","order":0,"width":0,"height":0,"label":"Velocità miscelatore 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":1740,"wires":[[]]},{"id":"d5527fc7.158f","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Velocità miscelatore 3","topic":"velocita_miscelatore3_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":1780,"wires":[["2d926f0a.e476d"]]},{"id":"2d926f0a.e476d","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Velocità miscelatore 3","group":"e389d83.62aba28","order":0,"width":0,"height":0,"label":"Velocità miscelatore 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":1780,"wires":[[]]},{"id":"45573f80.7cf7c","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Velocità miscelatore alto","topic":"velocita_miscelatore_alto_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":130,"y":1820,"wires":[["6b1f04bf.2cb27c"]]},{"id":"6b1f04bf.2cb27c","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Velocità miscelatore alto","group":"e389d83.62aba28","order":0,"width":0,"height":0,"label":"Velocità miscelatore alto","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":1820,"wires":[[]]},{"id":"d756c29.ceafc4","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Velocità miscelatore basso","topic":"velocita_miscelatore_basso_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":130,"y":1860,"wires":[["e843696c.7885c8"]]},{"id":"e843696c.7885c8","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Velocità miscelatore basso","group":"e389d83.62aba28","order":0,"width":0,"height":0,"label":"Velocità miscelatore basso","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":400,"y":1860,"wires":[[]]},{"id":"2a56ed7e.94af42","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 1 - 1","topic":"pressione_iniettore1_1_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":1960,"wires":[["72854994.790318"]]},{"id":"7f52804f.82bf2","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1960,"wires":[]},{"id":"f77199f5.553c18","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 1 - 1 warn","topic":"pressione_iniettore1_1_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":1960,"wires":[["7f52804f.82bf2"]]},{"id":"58220803.40ccf8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 1 - 2","topic":"pressione_iniettore1_2_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2000,"wires":[["fec9dfd9.67dfe"]]},{"id":"fec9dfd9.67dfe","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 1 - 2","group":"d6752817.615238","order":2,"width":0,"height":0,"label":"Pressione iniettore 1 - 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2000,"wires":[[]]},{"id":"912ef86f.f9caf8","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2000,"wires":[]},{"id":"f176ff3d.3267b","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 1 - 2 warn","topic":"pressione_iniettore1_2_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2000,"wires":[["912ef86f.f9caf8"]]},{"id":"be1eebbc.cf9b08","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 1 - 3","topic":"pressione_iniettore1_3_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2040,"wires":[["ee859b43.eccb18"]]},{"id":"ee859b43.eccb18","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 1 - 3","group":"d6752817.615238","order":3,"width":0,"height":0,"label":"Pressione iniettore 1 - 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2040,"wires":[[]]},{"id":"d8b6bd10.83147","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2040,"wires":[]},{"id":"3f2bb812.f1df18","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 1 - 3 warn","topic":"pressione_iniettore1_3_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2040,"wires":[["d8b6bd10.83147"]]},{"id":"2d0ed7a7.aa5628","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 2 - 1","topic":"pressione_iniettore2_1_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2100,"wires":[["500b41b6.a24bf"]]},{"id":"500b41b6.a24bf","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 2 - 1","group":"d6752817.615238","order":4,"width":0,"height":0,"label":"Pressione iniettore 2 - 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2100,"wires":[[]]},{"id":"170878d5.049827","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2100,"wires":[]},{"id":"eab5575b.81e618","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 2 - 1 warn","topic":"pressione_iniettore2_1_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2100,"wires":[["170878d5.049827"]]},{"id":"a478bcb3.e762f","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 2 - 2","topic":"pressione_iniettore2_2_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2140,"wires":[["684d291.8bb78d8"]]},{"id":"684d291.8bb78d8","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 2 - 2","group":"d6752817.615238","order":5,"width":0,"height":0,"label":"Pressione iniettore 2 - 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2140,"wires":[[]]},{"id":"46f301c8.d78a2","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2140,"wires":[]},{"id":"ed2faf5a.c388a","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 2 - 2 warn","topic":"pressione_iniettore2_2_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2140,"wires":[["46f301c8.d78a2"]]},{"id":"50ca7df6.dc42e4","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 2 - 3","topic":"pressione_iniettore2_3_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2180,"wires":[["46740bf7.dc9b64"]]},{"id":"46740bf7.dc9b64","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 2 - 3","group":"d6752817.615238","order":6,"width":0,"height":0,"label":"Pressione iniettore 2 - 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2180,"wires":[[]]},{"id":"bb46ae5f.20654","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2180,"wires":[]},{"id":"356fdc5c.c45034","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 2 - 3 warn","topic":"pressione_iniettore2_3_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2180,"wires":[["bb46ae5f.20654"]]},{"id":"a1a0bc5f.7171c","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 3 - 1","topic":"pressione_iniettore3_1_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2240,"wires":[["b1c9c64a.5c0e38"]]},{"id":"b1c9c64a.5c0e38","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 3 - 1","group":"d6752817.615238","order":7,"width":0,"height":0,"label":"Pressione iniettore 3 - 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2240,"wires":[[]]},{"id":"69e1ecf3.a75c04","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2240,"wires":[]},{"id":"dbad6407.2e97f8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 3 - 1 warn","topic":"pressione_iniettore3_1_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2240,"wires":[["69e1ecf3.a75c04"]]},{"id":"b42ef80d.1024d8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 3 - 2","topic":"pressione_iniettore3_2_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2280,"wires":[["52c4067b.3c9728"]]},{"id":"52c4067b.3c9728","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 3 - 2","group":"d6752817.615238","order":8,"width":0,"height":0,"label":"Pressione iniettore 3 - 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2280,"wires":[[]]},{"id":"c7ed8c42.46151","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2280,"wires":[]},{"id":"c89c7abb.a2d7c8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 3 - 2 warn","topic":"pressione_iniettore3_2_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2280,"wires":[["c7ed8c42.46151"]]},{"id":"d3e1d9b9.4c6fb8","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 3 - 3","topic":"pressione_iniettore3_3_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2320,"wires":[["be6aa54a.6facd8"]]},{"id":"be6aa54a.6facd8","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 3 - 3","group":"d6752817.615238","order":9,"width":0,"height":0,"label":"Pressione iniettore 3 - 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2320,"wires":[[]]},{"id":"97e57bf5.447e58","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2320,"wires":[]},{"id":"32a64837.205e88","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 3 - 3 warn","topic":"pressione_iniettore3_3_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2320,"wires":[["97e57bf5.447e58"]]},{"id":"91409d86.ca20f","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 4 - 1","topic":"pressione_iniettore4_1_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2380,"wires":[["f99077fa.ba2008"]]},{"id":"f99077fa.ba2008","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 4 - 1","group":"d6752817.615238","order":10,"width":0,"height":0,"label":"Pressione iniettore 4 - 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2380,"wires":[[]]},{"id":"1997b2e3.7541dd","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2380,"wires":[]},{"id":"b57c70ab.420ef","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 4 - 1 warn","topic":"pressione_iniettore4_1_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2380,"wires":[["1997b2e3.7541dd"]]},{"id":"c367742.af90288","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 4 - 2","topic":"pressione_iniettore4_2_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2420,"wires":[["b5782018.af7e8"]]},{"id":"b5782018.af7e8","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 4 - 2","group":"d6752817.615238","order":11,"width":0,"height":0,"label":"Pressione iniettore 4 - 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2420,"wires":[[]]},{"id":"23bfa336.bf921c","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2420,"wires":[]},{"id":"8ee5fe30.b586e","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 4 - 2 warn","topic":"pressione_iniettore4_2_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2420,"wires":[["23bfa336.bf921c"]]},{"id":"a0f4881b.bc1298","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 4 - 3","topic":"pressione_iniettore4_3_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2460,"wires":[["abb0070b.971bf8"]]},{"id":"abb0070b.971bf8","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 4 - 3","group":"d6752817.615238","order":12,"width":0,"height":0,"label":"Pressione iniettore 4 - 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2460,"wires":[[]]},{"id":"e93349c5.065368","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2460,"wires":[]},{"id":"20694ec6.b3d992","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 4 - 3 warn","topic":"pressione_iniettore4_3_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2460,"wires":[["e93349c5.065368"]]},{"id":"7b4c0598.ebbbac","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 5 - 1","topic":"pressione_iniettore5_1_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2520,"wires":[["ebbd2e17.428d4"]]},{"id":"ebbd2e17.428d4","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 5 - 1","group":"d6752817.615238","order":13,"width":0,"height":0,"label":"Pressione iniettore 5 - 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2520,"wires":[[]]},{"id":"44c153a9.1b9f6c","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2520,"wires":[]},{"id":"3e9c9124.82d9ce","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 5 - 1 warn","topic":"pressione_iniettore5_1_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2520,"wires":[["44c153a9.1b9f6c"]]},{"id":"494f0c66.dc9884","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 5 - 2","topic":"pressione_iniettore5_2_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2560,"wires":[["5db96055.77d47"]]},{"id":"5db96055.77d47","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 5 - 2","group":"d6752817.615238","order":14,"width":0,"height":0,"label":"Pressione iniettore 5 - 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2560,"wires":[[]]},{"id":"7878e8d9.a4a418","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2560,"wires":[]},{"id":"c42f13c4.18e45","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 5 - 2 warn","topic":"pressione_iniettore5_2_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2560,"wires":[["7878e8d9.a4a418"]]},{"id":"98f4c049.add5d","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 5 - 3","topic":"pressione_iniettore5_3_out_gz","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":120,"y":2600,"wires":[["ef2e3967.fc5b08"]]},{"id":"ef2e3967.fc5b08","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 5 - 3","group":"d6752817.615238","order":15,"width":0,"height":0,"label":"Pressione iniettore 5 - 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":2600,"wires":[[]]},{"id":"6aa79a3b.9009e4","type":"ui_text","z":"9e8a0b15.1a5d68","group":"9172c2a4.7087a","order":0,"width":0,"height":0,"name":"avviso","label":"","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2600,"wires":[]},{"id":"bca6ee72.a178f","type":"mqtt in","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 5 - 3 warn","topic":"pressione_iniettore5_3_out_gz_warn","qos":"2","datatype":"auto","broker":"b9999d65.c01e8","x":680,"y":2600,"wires":[["6aa79a3b.9009e4"]]},{"id":"72854994.790318","type":"ui_chart","z":"9e8a0b15.1a5d68","name":"Pressione iniettore 1 - 1","group":"d6752817.615238","order":1,"width":0,"height":0,"label":"Pressione iniettore 1 - 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":1960,"wires":[[]]},{"id":"b9999d65.c01e8","type":"mqtt-broker","name":"","broker":"gabrielezanni.it","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fe03e306.d8c18","type":"ui_group","name":"Sensori_esterni","tab":"98dec479.ed3b18","order":2,"disp":true,"width":"6","collapse":false},{"id":"92e20c97.c2fef","type":"ui_group","name":"Ora","tab":"98dec479.ed3b18","order":1,"disp":true,"width":"6","collapse":false},{"id":"74fa0030.c2b9d","type":"ui_group","name":"Temperatura_interna","tab":"98dec479.ed3b18","order":3,"disp":true,"width":"6","collapse":false},{"id":"9172c2a4.7087a","type":"ui_group","name":"ALLARMI","tab":"98dec479.ed3b18","order":8,"disp":true,"width":"6","collapse":true},{"id":"ee3ff6ee.b8a538","type":"ui_group","name":"Umidità_interna","tab":"98dec479.ed3b18","order":4,"disp":true,"width":"6","collapse":false},{"id":"ed96c8ce.f14668","type":"ui_group","name":"Pressione_interna","tab":"98dec479.ed3b18","order":5,"disp":true,"width":"6","collapse":false},{"id":"e389d83.62aba28","type":"ui_group","name":"Velocità miscelatori","tab":"98dec479.ed3b18","order":6,"disp":true,"width":"6","collapse":false},{"id":"d6752817.615238","type":"ui_group","name":"Pressione iniettori","tab":"98dec479.ed3b18","order":7,"disp":true,"width":"6","collapse":false},{"id":"98dec479.ed3b18","type":"ui_tab","name":"Esercitazione","icon":"dashboard","order":2,"disabled":false,"hidden":false}]